body {
  background-color: hsl(212, 45%, 89%);
}

h1 {
  text-align: bottom;
  color: hsl(212, 45%, 89%);
}

.box2 {
  width: 300px;
  height: 450px;
  background-color: hsl(0, 0%, 100%);
  margin: 50px auto;
  border-radius: 10px;
  /* overflow: hidden; */
}
img {
  width: 250px;
  margin: 25px 25px;
  /* margin-left:25px; */
  border-radius: 10px;
}
h2 {
  color: hsl(218, 44%, 22%);
  text-align: center;
  margin-top: auto;
}
p {
  text-align: center;
  font-size: 15px;
  overflow: hidden;
  color: hsl(220, 15%, 55%);
}
